section {
    justify-content: space-between;
    align-items: center;
    /* height: 90%; */
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 2em;
    /* position: fixed; */
    /* overflow-y: scroll; */
}

section .post {
    width: 90%;
}

.del-b {
    width: 250px;
    background-color: #fff;
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: #333;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
}
  
.del-b:hover {
    background-color: #333;
    color: #f5ba3d;
}
