<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ХелпИВР</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/static/css/try.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="stylesheet" href="/static/css/create_post.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css..">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@700;900&display=swap" rel="stylesheet">
</head>
<body>
    <h2 class="h-back"><a href="/" class="hr-back"><i class="fas fa-arrow-circle-left"></i> Вернуться на главную страницу</a></h2>
    
    <form action="" method="post" >
        <div class="create-field">
            <h2>Добавить вакансию</h2>
            
            <div class="cnt">
                <select id="" class="probtype" name="problemtype"> 
                    <option selected>Ваша специализация</option>
                    <option value="Дизайн">Дизайн</option>
                    <option value="Написание кода">Написание кода</option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                </select>
            </div>
            
            <div class="cnt">
                <textarea name="description" placeholder="Описание Ваших способностей" id="" cols="40" rows="10"></textarea>
            </div>
            
            <div class="cnt">
                <i class="fab fa-vk"></i>
                <input type="text" placeholder="ссылка VK"  name="href_vk">
            </div>

            <div class="cnt">
                <i class="fab fa-telegram-plane"></i>
                <input type="text" placeholder="ссылка Telegram" name="href_telegram">
            </div>

            <div class="cnt">
                <i class="fas fa-at"></i>
                <input type="text" placeholder="аккаунт Gmail" name="href_google">
            </div>

            
            <div class="submit">
                <input type="submit" value="Добавить" name="btn" class="btn solid b-enter">
            </div>
        </div>
    </form>
    
    <div class="image">
        <img src="/static/img/vacancy.svg" alt="vacancy-pic">
    </div>

</body>
</html> 