<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ХелпИВР</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/static/css/nav.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css..">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@700;900&display=swap" rel="stylesheet">
</head>
<body>

    <div class="left">

        <div class="account-field">
            <div class="us_icon"><i class="fas fa-user"></i></div>
                <div class="account-name">{{ surname }} {{ name }} {{ id }}</div>
                <!-- <div class="account-name">Евсеев Григорий</div> -->

                <div class="account-links">

                    <div class="account-more">
                        <a href="#">Подробнее</a>
                    </div>

                    <div class="account-logout">
                        <a href="/dropsession">Выйти</a>
                    </div>

                </div>

        </div>

        <a href="#" class="op myposts"><i class="far fa-list-alt"></i> Мои посты</a>

        <div class="actions">
            <div class="opt">

                <!-- <h4 class="h">Добавить...</h4> -->

                <div class="options">
                    <a href="/add_post" class="op f"><span><i class="fas fa-edit"></i> Пост</span></a>
                    <a href="/add_vacancy" class="op"><i class="fas fa-address-card"></i> Моя вакансия</a>
                    <a href="/add_quiz" class="op"><i class="fas fa-file-alt"></i> Опрос</a>
                    <a href="/add_idea" class="op l"><i class="fas fa-lightbulb"></i> Идея</a>
                </div>

            </div>
        </div>

    </div>

    <div class="right">

        <div class="menu">

            <ul class="types">

                <li class="type active" data-filter="all">
                    <a href="#" class="custom-underline">Все объявления</a>
                </li>

                <li class="type" data-filter="forme">
                    <a href="#" class="custom-underline">Ищу для себя</a>
                </li>

                <li class="type" data-filter="me">
                    <a href="#" class="custom-underline">Ищут меня</a>
                </li>

                <li class="type" data-filter="quizes">
                    <a href="#" class="custom-underline">Опросы</a>
                </li>

                <li class="type" data-filter="ideas">
                    <a href="#" class="custom-underline">Идеи</a>
                </li>

            </ul>

        </div>

        <!-- <div class="content"> -->

            <section class="posts">

                {% for p in post %}

                    <div class="post forme">

                        <div class="posttype">{{ p[3] }}</div>

                        <div class="postname"><h3>{{ p[5] }}</h3></div>

                        <hr>

                        <div class="postrequied">
                            <p>{{ p[7] }}</p>
                        </div>

                        <hr>

                        <div class="postpurpose">{{ p[6] }}</div>

                        <hr>

                        <div class="postauthor">{{ p[1] }} {{ p[0] }} (?)класс</div>

                        <div class="postcontacts">

                            <div class="email">
                                <i class="fas fa-envelope"></i>
                                {{ p[11] }}
                            </div>

                            <a href="{{ p[9] }}">
                                <i class="fab fa-vk"></i>
                            </a>

                            <a href="{{ p[10] }}">
                                <i class="fab fa-telegram-plane"></i>
                            </a>

                        </div>

                    </div>

                {% endfor %}

                {% for v in vacancy %}
                    
                    <div class="post me">
                        
                        <div class="posttype">Вакансия</div>

                        <div class="postname"><h3>{{ v[2] }}</h3></div>
                        <hr>
                        <div class="postrequied">
                            <p>v[3]</p>
                        </div>
                        <hr>
                        <div class="postauthor">{{ v[1] }} {{ v[0] }} (?)класс</div>
                        <div class="postcontacts">

                            <div class="email">
                                <i class="fas fa-envelope"></i>
                                {{ v[6] }}
                            </div>

                            <a href="{{ v[4] }}">
                                <i class="fab fa-vk"></i>
                            </a>

                            <a href="{{ v[5] }}">
                                <i class="fab fa-telegram-plane"></i>
                            </a>

                        </div>
                    </div>

                {% endfor %}

                {% for q in quiz %}

                    <div class="post quizes">
                        
                        <div class="posttype">Опрос</div>

                        <div class="postname"><h3>{{ p[2] }}</h3></div>

                        <hr>

                        <div class="postrequied">
                            <p>{{ p[3] }}</p>
                        </div>

                        <hr>

                        <div class="postauthor">{{ q[1] }} {{ q[0] }} (?)класс</div>

                        <div class="postcontacts">

                            <div class="email">
                                <i class="fas fa-envelope"></i>
                                {{ q[6] }}
                            </div>

                            <a href="{{ q[4] }}">
                                <i class="fab fa-vk"></i>
                            </a>

                            <a href="{{ q[5] }}">
                                <i class="fab fa-telegram-plane"></i>
                            </a>

                        </div>

                    </div>

                {% endfor %}

                {% for i in idea %}
                    <div class="post ideas">

                        <div class="posttype">Идея</div>

                        <div class="postname"><h3>{{ i[2] }}</h3></div>

                        <hr>

                        <div class="postrequied">
                            <p>{{ i[3] }}</p>
                        </div>

                    </div>
                {% endfor %}
                
            </section>

        <!-- </div> -->

    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script type="text/javascript">
    // const choose = document.querySelector(".mopt");
    // const optionsContainer = document.querySelector(".options");

    // choose.addEventListener("click", () => {
    //     optionsContainer.classList.toggle("active");
    // });

    $(document).ready(function () {
        $('.type').click(function () {
            $(".type").removeClass("active");
            this.classList.add("active");
            const value = $(this).attr('data-filter');
            if (value == 'all') {
                $('.post').show('1000');
            }
            else {
                $('.post').not('.' + value).hide('1000');
                $('.post').filter('.' + value).show('1000');
            }
        })
    })

    $(document).ready(function () {
        $('.header_burger').click(function (event) {
            $('.header_burger, .header_menu').toggleClass('active');
            $('body').toggleClass('lock');
        });
    });
</script>
</body>
</html>