<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ХелпИВР</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/static/css/try.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="stylesheet" href="/static/css/create_post.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css..">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@700;900&display=swap" rel="stylesheet">
</head>
<body>
    
    <h3 class="h-back"><a href="/myposts" class="hr-back">Вернуться к моим постам</a></h3>

    <form action="" method="post" >
        <div class="create-field">
            <h2>Обновить пост</h2>
            <div class="cnt">
                <select id="" class="prtype" name="type">
                    <option selected>Тип ИВР</option>
                    <option value="Проект">Проект</option>
                    <option value="Исследование">Исследование</option>
                </select>
            </div>
            
            <div class="cnt">
                <select id="" class="prsub" name="subject">
                    <option selected>Предмет ИВР</option>
                    <option value="IT">ИТ</option>
                    <option value="Образование">Образование</option>
                </select>
            </div>
            
            <div class="cnt">
                <select id="" class="probtype" name="problemtype"> 
                    <option selected>Сфера задачи</option>
                    <option value="">Дизайн</option>
                    <option value="">Написание кода</option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                </select>
            </div>

            <div class="cnt">
                <input type="text" name="name" placeholder="Название" value="{{ post_update.name }}">
            </div>

            <div class="cnt">
                <textarea name="demands" placeholder="Требования" id="" cols="40" rows="2">{{ post_update.demands }}</textarea>
            </div>
            
            <div class="cnt">
                <textarea name="description" placeholder="Описание задачи" id="" cols="40" rows="10">{{ post_update.description }}</textarea>
            </div>
            
            <div class="cnt">
                <i class="fab fa-vk"></i>
                <input type="text" placeholder="ссылка VK"  name="href_vk" value="{{ post_update.href_vk }}">
            </div>

            <div class="cnt">
                <i class="fab fa-telegram-plane"></i>
                <input type="text" placeholder="ссылка Telegram" name="href_telegram" value="{{ post_update.href_telegram }}">
            </div>

            <div class="cnt">
                <i class="fas fa-at"></i>
                <input type="text" placeholder="аккаунт Gmail" name="href_google" value="{{ post_update.href_google }}">
            </div>

            
            <div class="submit">
                <input type="submit" value="Обновить" name="btn" class="btn solid b-enter">
            </div>
        </div>
    </form>

</body>
</html> 